body{
	padding:0;
	margin:0;
	box-sizing: border-box;
	min-height:100%;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.PropsPanelWrapper{
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: translateZ(0);
	height: 100vh;
	width: 30vw;
	background-color:#888888;
}

.NodesPanelWrapper{
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: translateZ(0);
	height: 50vh;
	width: 70vw;
}

.PreviewPanelWrapper{
	display: flex;
	position: fixed;
	bottom: 0;
	left: 32px;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: translateZ(0);
	height: 50vh;
	width: calc(70vw - 32px);
	background:#cccccc;
}

.ToolsPanelWrapper{
	display:flex;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	ms-flex-direction:column;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
	transform: translateZ(0);
	height:100vh;
	width:32px;
	background-color:#888888;
	z-index:99;
}
.ToolsContainer a{
	display:block;
	background:#777777;
	width:32px;
	height:32px;
	border:solid 1px #666666;
	color:#ffffff;
	text-align:center;
	padding-top:16px;
}
.NodesPanel{
	height: 10599.5px;
	width: 4451.5px;
	position: absolute;
	top: 0;
	left: 0;
	-ms-flex-preferred-size: 100% !important;
	flex-basis: 100% !important;
	will-change: transform;
	background-color: rgb(210, 210, 210);
	/* Disable highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.PreviewPanel{
	height: 10599.5px;
	width: 4451.5px;
	position: absolute;
	top: 0;
	left: 0;
	-ms-flex-preferred-size: 100% !important;
	flex-basis: 100% !important;
	will-change: transform;
	background-color: rgb(210, 210, 210);
	/* Disable highlight */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.NodesContainer{
	/*height: 1000px;
	width: 1400px;*/
	/*left: 22px;
	top: 52px;*/
	z-index: auto;
	mix-blend-mode: normal;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
}

.PreviewContainer{
	/*height: 1000px;
	width: 1400px;*/
	/*left: 22px;
	top: 52px;*/
	z-index: auto;
	mix-blend-mode: normal;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
}

.NodeBox{
	z-index:1;
	opacity: 1; 
	mix-blend-mode: normal; 
	background-color: rgb(235, 235, 235); 
	background-image: none; 
	background-position: center center; 
	background-repeat: repeat; 
	background-size: cover; 
	border-radius: 0px; 
	border-width: 0px; 
	border-color: rgb(102, 102, 102); 
	border-style: solid; 
	text-align:center;
	padding:10px; 
	width: 100px; 
	height: auto;
	font-size:12px;
	position: absolute;
}
.NodeLine{
	z-index:0;
	position: absolute;
	display:block;
}

.NodeBox[data-selected="true"]{
	border:solid 2px #33ffff;		
}
.NodeLine[data-selected="true"] svg g path{
	stroke:#33ffff !important;
	stroke-width:3 !important;
}
.colorfield{
	display:inline-block;
	width:24px;
	height:24px;
	border-radius:4px;
	border:solid #000 1px;
}

.popupPanel{
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	z-index:999;
	top:0;
	left:0;
	pointer-events:none;
}

.popupPanel *{
	pointer-events:all;
}

.modalWindow{
	background:#333;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	display: inline-block;
	padding: 12px;
	position:absolute;
	top:200px;
	left:0;
	right:0;
	margin: auto;
	text-align:center;
}

.tabs a{
	display:inline-block;
	background:#333;
	color:#fff;
	text-decoration:none;
	margin:0;
	padding:4px;
}
.tabs a.act{
	background:#999;
}

.btn{
	display: inline-block;
	width: auto;
	height: auto;
	background: #33ffff;
	padding: 12px;
	margin: 4px;
	color: #000;
	text-decoration: none;
}

.nodeListEl{
	display: block;
	height: auto;
	background: #33ffff;
	padding: 4px;
	margin: 4px;
	color: #000;
	text-decoration: none;
	clear:both;
	width:100%;
	width:-moz-available;
	width:-webkit-available;
	width:available;
}

.listElement{
	display: block;
	border-bottom:solid 1px #333;
	height:25px;
	background: #bbb;
	padding: 6px;
	color: #000;
	text-decoration: none;
	clear:both;
	width:100%;
	width:-moz-available;
	width:-webkit-available;
	width:available;
}

.fontListEl{
	clear:both;
	display:block;
	color:#33ffff;
}

.rembtn{
	display:block;
	width:25px;
	height:25px;
	background:#ff3333;
	float: right;
	padding-top: 1px;
    	padding-right: 1px;
    	padding-left: 1px;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	color: #fff;
}
.movbtn{
	display:block;
	width:25px;
	height:25px;
	background:#3333ff;
	float: right;
	padding-top: 1px;
    	padding-right: 1px;
    	padding-left: 1px;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
	color: #fff;
}
